@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --font-base: 'Cormorant Upright', serif;
  --font-alt: 'Open Sans', sans-serif;
  
  --color-golden: #C9B8A5;
  --color-black: #0C0C0C;
  --color-gray: #545454;
  --color-crimson: #F5EFDB;
  --color-grey: #AAAAAA;
  --color-white: #FFFFFF;
}

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

.app__bg {
  background: url('../assets/img/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-fade-in {
  from {
    opacity: 0;
    transform: translateY(5vh);
  }
}

@media (prefers-reduced-motion: no-preference) {
  section div {
    view-timeline-name: --item-timeline;
    animation: slide-fade-in both;
    animation-timeline: --item-timeline;
    animation-range: 150px 500px;
  }
}

.navbar-active .navbar-nav .nav-link {
  color: var(--bs-link-hover-color);
  font-weight: bold;
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.8);
}

body {
  background-color: #0D0D0D;
}

.navbar, .page-section {
  background-color: #0D0D0D;
  color: #ffffff;
}

.text-muted {
  color: #cccccc;
}

.btn-dark {
  background-color: #333333;
  color: #ffffff;
}

.bg-light {
  background-color: #1a1a1a;
}

/*----------------------------------------------------------------------------------*/

/* Nav Bar */

.app__navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-black);
  z-index: 5;
  overflow: hidden;
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app__navbar-logo img {
  width: 100px;
  margin-left: 5rem;
  cursor: pointer;
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
}

.app__navbar-links li {
  margin: 0 1rem;
  cursor: pointer;
  font-family: var(--font-base);
  color: var(--color-golden);
  font-size: 36px;
  margin: 0 2rem;
}

.app__navbar-links li:hover {
  color: var(--color-grey);
}

@media screen and (max-width: 1150px) {
  .app__navbar-links {
      display: none;
  }
}

@media screen and (max-width: 650px) {
  .app__navbar-logo img {
      width: 80px;
      margin-left: 3rem;
  }
}

@media screen and (max-width: 350px) {
  .app__navbar-logo img {
    width: 50px;
    margin-left: 2rem;
  }
}

/* PreLoader */

.pre-loader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 9999;
}

.pre-loader-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-base);
}

.pre-loader-content span {
  font-family: var(--font-base);
  font-style: italic;
}

.pre-loader-text {
  margin-bottom: 0.5em;
  font-size: 100px;
  color: #C9B8A5;
}

.loader {
  width: 500px;
  height: 2px;
  background: #C9B8A5;
}

@media screen and (max-width: 2000px) {
  .loader {
    width: 600px;
  }
} 

@media screen and (max-width: 1500px) {
  .pre-loader-text {
    font-size: 80px;
  }

  .loader {
    width: 450px;
  }
} 

@media screen and (max-width: 1050px) {
  .pre-loader-text {
    font-size: 60px;
  }

  .loader {
    width: 360px;
  }
} 

@media screen and (max-width: 850px) {
  .pre-loader-text {
    font-size: 45px;
  }

  .loader {
    width: 280px;
  }
} 

@media screen and (max-width: 650px) {
  .pre-loader-text {
    font-size: 40px;
  }

  .loader {
    width: 200px;
  }
} 

/* Header */

.masthead {
  position: relative;
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url('../assets/img/header-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 100px;
}

.masthead-container {
  text-align:center;
  font-family:'Roboto';
  font-weight:500;
  font-size:5vw;
  overflow:hidden;
}

.masthead-div {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
  margin-top: 26rem;
}

.text:hover > span {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.minhdang {
  font-family: var(--font-base);
  font-size: 10rem;
  animation: showup 7s infinite;
  width: fit-content;
  background: linear-gradient(to right,rgb(100,100,100),rgb(50,50,50),rgb(10,10,10));
  position: relative;
  z-index: 1;  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.interior{
  font-family: var(--font-base);
  font-size: 10rem;
  animation: reveal 7s infinite;
  width: fit-content !important;
  background: linear-gradient(to right,rgb(100,100,100),rgb(50,50,50),rgb(10,10,10));
  position: relative;
  z-index: 1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.interior span {
  margin-left:-355px;
  animation: slidein 7s infinite;
  width: fit-content !important;
}

@keyframes showup {
  0% {opacity:0;}
  20% {opacity:1;}
  80% {opacity:1;}
  100% {opacity:0;}
}

@keyframes slidein {
  0% { margin-left:-800px; }
  20% { margin-left:-800px; }
  35% { margin-left:0px; }
  100% { margin-left:0px; }
}

@keyframes reveal {
  0% {opacity:0;width:0px;}
  20% {opacity:1;width:0px;}
  30% {width:355px;}
  80% {opacity:1;}
  100% {opacity:0;width:355px;}
}

@media screen and (max-width: 1500px) {
  .minhdang, .interior {
    font-size: 6rem;
  }

  .masthead-div {
    margin-top: 60vh;
  }
}

@media screen and (max-width: 1150px) {
  .minhdang, .interior {
    font-size: 5rem;
  }

  .masthead-div {
    margin-top: 36vh;
  }
}

@media screen and (max-width: 800px) {
  .minhdang, .interior {
    font-size: 4rem;
  }

  .masthead-div {
    margin-top: 35vh;
  }
}

@media screen and (max-width: 650px) {
  .minhdang, .interior {
    font-size: 3rem;
  }

  .masthead-div {
    margin-top: 35vh;
  }
}

/*

.slider {
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent,
    #000 10% 90%,
    transparent
  );
  margin-top: 10vh !important;
}

.slider .list {
  display: flex;
  width: 100% !important;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}

.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: filter 1s;
  animation: autoRun 32s linear infinite;
  animation-delay: calc((32s / var(--quantity)) * (var(--position) - 1));
}

.slider .list .item img{
  width: 100%;
  height: 100%;
}

@keyframes autoRun {
  from{
    left: 100%;
  }to{
    left: calc(var(--width) * -1);
  }
}

*/

/* Services */

.slider:hover {
  animation-play-state: paused !important;
}

.services-body {
  font-family: var(--font-base);
}

.services-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 10rem;
  height: 100vh;
}

.border-wrapper {
  border-top: 1px solid #2F2B28;
  border-bottom: 1px solid #2F2B28;
  width: 100%;
}

.text {
  font-size: 180px;
  letter-spacing: 0.04em;
  line-height: 100%;
  
  width: fit-content;
  color: rgb(182, 182, 182, 0.2);
  background: linear-gradient(to right, #C9B8A5, #C9B8A5) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 0%;
  transition: background-size cubic-bezier(.1,.5,.5,1) s;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.services-span {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #E74C3C;
  color: #0D0D0D;
  
  clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
  transform-origin: center;
  transition: all cubic-bezier(.1,.5,.5,1) 0.5s;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services-heading {
  color: #C9B8A5;
  font-size: 60px;
  margin: 2rem 0;
  font-family: var(--font-base);
}

@media screen and (max-width: 2000px) {
  .services-container {
    margin: 0 0 3rem 2rem;
  }

  .services-container {
    height: 70vh;
  }

  .text {
    font-size: 100px;
  }
}

@media screen and (max-width: 1050px) {
  .services-container {
    margin: 0 0 3rem 1rem;
  }

  .text {
    font-size: 90px;
    line-height: 100%;
  }

  .services-heading {
    font-size: 42px;
  }

  .services-container {
    height: 60vh;
  }
}

@media screen and (max-width: 850px) {
  .text {
    font-size: 82px;
    line-height: 100%;
  }

  .services-heading {
    font-size: 36px;
  }

  .services-container {
    height: 50vh;
  }
}

@media screen and (max-width: 650px) {
  .text {
    font-size: 40px;
    line-height: 100%;
  }

  .services-heading {
    font-size: 30px;
  }

  .services-container {
    height: 40vh;
  }
}

@media screen and (max-width: 400px) {
  .text {
    font-size: 36px;
    line-height: 100%;
  }

  .services-heading {
    font-size: 26px;
  }
}

/* .project-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.project-heading-div {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 70px;
  font-family: var(--font-base);
  padding-top: 5rem;
  flex-shrink: 0;
}

.project-heading {
  color: #C9B8A5;
}

.image-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

#image-track {
  margin-top: 35vh;
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  transform: translate(0%, -50%); 
  user-select: none;
  transition: transform 1.5s cubic-bezier(0.25, 1, 0.5, 1);
  will-change: transform;
}

#image-track > .project-image {
  width: 40vh;
  height: 56vh;
  object-fit: cover;
  object-position: 100% center;
  transition: transform 1.5s cubic-bezier(0.25, 1, 0.5, 1);
  will-change: transform;
}

@media screen and (max-width: 1500px) {
  .project-heading-div { 
    font-size: 80px;
  }
}

@media screen and (max-width: 1150px) {
  .project-heading-div { 
    font-size: 60px;
  }
}

@media screen and (max-width: 850px) {
  .project-heading-div { 
    font-size: 50px;
  }
}

@media screen and (max-width: 450px) {
  .project-heading-div { 
    font-size: 30px;
  }

  .project-container {
    height: 60vh;
  }

  #image-track {
    margin-top: 20vh;
  }

  #image-track > .project-image {
    width: 10vh;
    height: 14vh;
  }
} */

/* Projects */

.app__gallery {
  flex-direction: row;
  padding: 4rem 0 4rem 6rem;
}

.app__gallery-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  min-width: 500px;
  padding-right: 2rem;
}

.app__gallery-content button {
  margin-top: 2rem;
}

.app__gallery-images {
  flex: 1;
  display: flex;
  flex-direction: row;
  max-width: 55%;
  position: relative;
}

.app__gallery-images_container {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: row;
  width: max-content;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.app__gallery-images_container::-webkit-scrollbar {
  display: none;
}

.app__gallery-images_card {
  position: relative;
  min-width: 600px;
  height: 800px;
  margin-right: 2rem;
}

.app__gallery-images_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.app__gallery-images_arrows {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1rem;
  position: absolute;
  bottom: 5%;
}

.gallery__arrow-icon {
  color: var(--color-black);
  font-size: 2rem;
  cursor: pointer;
  border-radius: 5px;
}

.gallery__arrow-icon:hover {
  color: var(--color-golden);
}

.app__gallery-content button:hover {
  background-color: #C9B8A5;
}

@media screen and (min-width: 2000px) {
  .app__gallery-content button {
      margin-top: 2rem;
  }

  .app__gallery-content {
      min-width: 1000px;
      padding-right: 4rem;
  }

  .app__gallery-images_card {
      min-width: 500px;
      height: 700px;
  }
}

@media screen and (max-width: 1150px) {
  .app__gallery {
      flex-direction: column;
  }

  .app__gallery-images {
      max-width: 100%;
      margin: 5rem 0;
  }
}

@media screen and (max-width: 850px) {
  .app__gallery {
      padding: 4rem 0 4rem 4rem;
  }
}

@media screen and (max-width: 650px) {
  .app__gallery {
      padding: 4rem 0 4rem 2rem;
  }  
  
  .app__gallery-content {
      min-width: 100%;
  }

  .app__gallery-images_card {
      min-width: 300px;
      height: 400px;
  }

  .app__gallery-images_arrows {
    display: none;
  }
}

/* Contact */

.connect-body {
  font-family: var(--font-base);
  color: #C9B8A5;
  margin-bottom: 2rem;
}

.connect-heading {
  margin: 10rem 0 0 8rem;
  font-size: 60px;
}

.connect-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 6rem;
}

.connect-col {
  flex: 1;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.connect-list {
  list-style-type: none; 
  padding: 0;
  margin: 0;
}

.connect-text {
  font-size: 80px;
  letter-spacing: -.01em;
  line-height: 100%;
  
  width: 100%;
  color: #C9B8A5;
  background: linear-gradient(to right, #b6b6b6, #b6b6b6) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 0%;
  transition: background-size cubic-bezier(.1,.5,.5,1) 0.5s;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.connect-span {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #E74C3C;
  color: #0D0D0D;
  
  clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
  transform-origin: center;
  transition: all cubic-bezier(.1,.5,.5,1) 0.4s;
  
  display: block;
  flex-direction: column;
  justify-content: center;
}

.connect-text:hover > span {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

#email-text, #phone-text {
  font-size: 60px;
  color: #C9B8A5;
}

.email-subtext,
.phone-subtext {
  display: block;
}

@media screen and (max-width: 1150px) {
  .connect-text {
    font-size: 40px;
  }

  #email-text, #phone-text {
    font-size: 30px;
  }

  .connect-heading {
    margin: 2rem 0 0 2rem;
    font-size: 30px;
  }
  
  .connect-container {
    margin: 0 2rem 0 2rem;
  }
}

@media screen and (max-width: 850px) {
  .connect-container {
    flex-direction: column;
  }

  .connect-text {
    font-size: 40px;
  }

  #email-text, #phone-text {
    font-size: 30px;
  }

  .connect-heading {
    margin: 2rem 0 0 2rem;
    font-size: 30px;
  }
  
  .connect-container {
    margin: 0 0 0 2rem;
  }
}

@media screen and (max-width: 650px) {
  .connect-text {
    font-size: 20px;
  }

  #email-text, #phone-text {
    font-size: 15px;
  }

  .connect-heading {
    margin: 2rem 0 0 2rem;
    font-size: 30px;
  }
  
  .connect-container {
    margin: 0 0 0 2rem;
  }
}

.connect-text {
  transition: opacity 0.3s ease-in-out;
}

.connect-container .connect-text {
  transition: opacity 0.3s ease;
}

.connect-container:hover .connect-text {
  opacity: 0.5;
}

.connect-text:hover {
  opacity: 1 !important;
}



/* Footer */

/* .footer-container{
  height: 30vh;
	max-width: 60vw;
	margin:auto;
}

.footer-row{
	display: flex;
	flex-wrap: wrap;
  margin-top: 10vh;
}

.footer ul{
	list-style-type: none;
}

.footer{
	background-color: #0D0D0D;
  padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 2  rem;
	color: #C9B8A5;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #E74C3C;
	height: 3px;
	box-sizing: border-box;
	width: 8vw;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 1.5rem;
	text-transform: capitalize;
	color: rgba(216, 210, 182, 0.6);
	text-decoration: none;
	font-weight: 300;
	color: rgba(216, 210, 182, 0.6);
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: hsl(49, 30%, 78%);
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
  }
} */

/*----------------------------------------------------------------------------------*/

.section__padding {
  padding: 4rem 6rem;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
}

.app__wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.app__wrapper_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2rem;
}

.app__wrapper_img-reverse {
  justify-content: flex-start;
  margin-right: 2rem;
}

.app__wrapper_img img {
  width: 80%;
}

.custom__button {
  background-color: var(--color-crimson);
  color: var(--color-black);
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  border-radius: 1px;
  border: none;
  outline: none;
  cursor: pointer;
}

.p__cormorant {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: 'tnum' on, 'lnum' on;
  line-height: 29.9px;
  font-size: 23px;
}

.p__opensans {
  font-family: var(--font-alt);
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
}

.headtext__cormorant {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.spoon__img {
  width: 45px;
}

@media screen and (min-width: 2000px) {
  .custom__button,
  .p__cormorant {
    font-size: 37px;
    line-height: 67px;
  }

  .p__opensans {
    font-size: 30px;
    line-height: 50px;
  }

  .headtext__cormorant {
    font-size: 150px;
    line-height: 210px;
  }

  .spoon__img {
    width: 80px;
  }
}

@media screen and (max-width: 1150px) {
  .app__wrapper {
    flex-direction: column;
  }

  .app__wrapper_img {
    margin: 5rem 0 0 0;
  }

  .app__wrapper_img-reverse {
    margin: 0 0 5rem 0;
  }

  .app__wrapper_img img {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .section__padding {
    padding: 4rem;
  }
}

@media screen and (max-width: 650px) {
  .section__padding {
    padding: 4rem 2rem;
  }
  
  .p__cormorant {
    font-size: 21px;
  }

  .p__opensans {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .p__opensans {
    font-size: 12px;
  }

  .p__cormorant {
    font-size: 19px;
  }

  .headtext__cormorant {
    font-size: 45px;
    line-height: 70px;
  }
}
