@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --font-base: 'Cormorant Upright', serif;
  --font-alt: 'Open Sans', sans-serif;
  
  --color-golden: #C9B8A5;
  --color-black: #0C0C0C;
  --color-gray: #545454;
  --color-crimson: #F5EFDB;
  --color-grey: #AAAAAA;
  --color-white: #FFFFFF;
}

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

.app__bg {
  background: url('../assets/img/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-fade-in {
  from {
    opacity: 0;
    transform: translateY(5vh);
  }
}

@media (prefers-reduced-motion: no-preference) {
  section div {
    view-timeline-name: --item-timeline;
    animation: slide-fade-in both;
    animation-timeline: --item-timeline;
    animation-range: 150px 500px;
  }
}

.navbar-active .navbar-nav .nav-link {
  color: var(--bs-link-hover-color);
  font-weight: bold;
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.8);
}

body {
  background-color: #0D0D0D;
}

.navbar, .page-section {
  background-color: #0D0D0D;
  color: #ffffff;
}

.text-muted {
  color: #cccccc;
}

.btn-dark {
  background-color: #333333;
  color: #ffffff;
}

.bg-light {
  background-color: #1a1a1a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    font-family: "Neue Montreal";
  }

  .section__padding {
    padding: 4rem 6rem;
  }
  
  .flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .app__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    min-height: 100vh;
  }
  
  .app__wrapper_info {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .app__wrapper_img {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin-left: 2rem;
  }
  
  .app__wrapper_img-reverse {
    justify-content: flex-start;
    margin-right: 2rem;
  }
  
  .app__wrapper_img img {
    width: 80%;
  }
  
  .custom__button {
    background-color: var(--color-crimson);
    color: var(--color-black);
    font-family: var(--font-base);
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 28px;
    font-size: 16px;
    padding: 0.5rem 1.5rem;
    border-radius: 1px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .p__cormorant {
    font-family: var(--font-base);
    color: var(--color-white);
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    line-height: 29.9px;
    font-size: 23px;
  }
  
  .p__opensans {
    font-family: var(--font-alt);
    color: var(--color-white);
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 28px;
    font-size: 16px;
  }
  
  .headtext__cormorant {
    font-family: var(--font-base);
    color: var(--color-golden);
    font-size: 64px;
    line-height: 83.2px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
  }
  
  .spoon__img {
    width: 45px;
  }
  
  @media screen and (min-width: 2000px) {
    .custom__button,
    .p__cormorant {
      font-size: 37px;
      line-height: 67px;
    }
  
    .p__opensans {
      font-size: 30px;
      line-height: 50px;
    }
  
    .headtext__cormorant {
      font-size: 150px;
      line-height: 210px;
    }
  
    .spoon__img {
      width: 80px;
    }
  }
  
  @media screen and (max-width: 1150px) {
    .app__wrapper {
      flex-direction: column;
    }
  
    .app__wrapper_img {
      margin: 5rem 0 0 0;
    }
  
    .app__wrapper_img-reverse {
      margin: 0 0 5rem 0;
    }
  
    .app__wrapper_img img {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 850px) {
    .section__padding {
      padding: 4rem;
    }
  }
  
  @media screen and (max-width: 650px) {
    .section__padding {
      padding: 4rem 2rem;
    }
    
    .p__cormorant {
      font-size: 21px;
    }
  
    .p__opensans {
      font-size: 14px;
    }
  }
  
  @media screen and (max-width: 450px) {
    .p__opensans {
      font-size: 12px;
    }
  
    .p__cormorant {
      font-size: 19px;
    }
  
    .headtext__cormorant {
      font-size: 45px;
      line-height: 70px;
    }
  }
  
/* Navbar */

.app__navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-black);
  z-index: 9000;
  overflow: hidden;
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app__navbar-logo img {
  width: 100px;
  margin-left: 5rem;
  cursor: pointer;
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
}

.app__navbar-links li {
  margin: 0 1rem;
  cursor: pointer;
  font-family: var(--font-base);
  color: var(--color-golden);
  font-size: 36px;
  margin: 0 2rem;
}

.app__navbar-links li:hover {
  color: var(--color-grey);
}

@media screen and (max-width: 1150px) {
  .app__navbar-links {
      display: none;
  }
}

@media screen and (max-width: 650px) {
  .app__navbar-logo img {
      width: 80px;
      margin-left: 3rem;
  }
}

@media screen and (max-width: 350px) {
  .app__navbar-logo img {
    width: 50px;
    margin-left: 2rem;
  }
}

/* Preloader */

.pre-loader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 9999;
}

.pre-loader-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-base);
}

.pre-loader-content span {
  font-family: var(--font-base);
  font-style: italic;
}

.pre-loader-text {
  margin-bottom: 0.5em;
  font-size: 100px;
  color: #C9B8A5;
}

.loader {
  width: 500px;
  height: 2px;
  background: #C9B8A5;
}

@media screen and (max-width: 2000px) {
  .loader {
    width: 600px;
  }
} 

@media screen and (max-width: 1500px) {
  .pre-loader-text {
    font-size: 80px;
  }

  .loader {
    width: 450px;
  }
} 

@media screen and (max-width: 1050px) {
  .pre-loader-text {
    font-size: 60px;
  }

  .loader {
    width: 360px;
  }
} 

@media screen and (max-width: 850px) {
  .pre-loader-text {
    font-size: 45px;
  }

  .loader {
    width: 280px;
  }
} 

@media screen and (max-width: 650px) {
  .pre-loader-text {
    font-size: 40px;
  }

  .loader {
    width: 200px;
  }
} 
  
  .container {
    padding: 10em 2em 5em 2em;
    width: 100%;
    height: 100%;
    background: #0f0f0f;
  }
  
  h1 {
    color: var(--color-golden);
    font-family: var(--font-base);
    font-size: 60px;
    font-weight: lighter;
    padding: 0 4em;
  }
  
  .gallery {
    position: relative;
    width: 100%;
    display: flex;
    background: #0f0f0f;
    color: #fff;
    padding: 5em 2em;
    z-index: -1;
  }
  
  .minimap {
    position: sticky;
    top: 0;
    width: 20%;
    height: 100vh;
    padding: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .images {
    position: relative;
    top: 0;
    width: 80%;
  }
  
  .img {
    position: relative;
    width: 1000px;
    height: 1250px;
    border-radius: 40px;
    overflow: hidden;
    margin: 50px auto;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .img-thumbnail {
    position: relative;
    width: 50px;
    height: 70px;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0.5;
  }
  
  @media(max-width: 1500px) {
    .img {
      width: 600px;
      height: 800px;
    }
    
    h1 {
      font-size: 45px;
      padding: 0 2em;
    }
  }

  @media(max-width: 1050px) {
    .img {
      width: 400px;
      height: 600px;
    }
    
    h1 {
      font-size: 30px;
      padding: 0 2em;
    }
  }

  @media(max-width: 600px) {
    .img {
      width: 200px;
      height: 350px;
    }
    
    h1 {
      font-size: 20px;
      padding: 0;
    }

    .img-thumbnail {
      width: 30px;
      height: 42px;
    }

    .gallery {
      padding-left: 10px !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }
  