@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --font-base: 'Cormorant Upright', serif;
  --font-alt: 'Open Sans', sans-serif;
  
  --color-golden: #C9B8A5;
  --color-black: #0C0C0C;
  --color-gray: #545454;
  --color-crimson: #F5EFDB;
  --color-grey: #AAAAAA;
  --color-white: #FFFFFF;
}

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-fade-in {
  from {
    opacity: 0;
    transform: translateY(5vh);
  }
}

@media (prefers-reduced-motion: no-preference) {
  section div {
    view-timeline-name: --item-timeline;
    animation: slide-fade-in both;
    animation-timeline: --item-timeline;
    animation-range: 150px 500px;
  }
}

.navbar-active .navbar-nav .nav-link {
  color: var(--bs-link-hover-color);
  font-weight: bold;
  text-shadow: 0 0 10px rgba(255, 215, 0, 0.8);
}

body {
  background-color: #0D0D0D;
}

.page-section {
  background-color: #0D0D0D;
  color: #ffffff;
}

.text-muted {
  color: #cccccc;
}

.btn-dark {
  background-color: #333333;
  color: #ffffff;
}

.bg-light {
  background-color: #1a1a1a;
}

.section__padding {
  padding: 4rem 6rem;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
}

.app__wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.app__wrapper_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2rem;
}

.app__wrapper_img-reverse {
  justify-content: flex-start;
  margin-right: 2rem;
}

.app__wrapper_img img {
  width: 80%;
}

.custom__button {
  background-color: var(--color-crimson);
  color: var(--color-black);
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  border-radius: 1px;
  border: none;
  outline: none;
  cursor: pointer;
}

.p__cormorant {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: 'tnum' on, 'lnum' on;
  line-height: 29.9px;
  font-size: 23px;
}

.p__opensans {
  font-family: var(--font-alt);
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
}

.headtext__cormorant {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.spoon__img {
  width: 45px;
}

@media screen and (min-width: 2000px) {
  .custom__button,
  .p__cormorant {
    font-size: 37px;
    line-height: 67px;
  }

  .p__opensans {
    font-size: 30px;
    line-height: 50px;
  }

  .headtext__cormorant {
    font-size: 150px;
    line-height: 210px;
  }

  .spoon__img {
    width: 80px;
  }
}

@media screen and (max-width: 1150px) {
  .app__wrapper {
    flex-direction: column;
  }

  .app__wrapper_img {
    margin: 5rem 0 0 0;
  }

  .app__wrapper_img-reverse {
    margin: 0 0 5rem 0;
  }

  .app__wrapper_img img {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .section__padding {
    padding: 4rem;
  }
}

@media screen and (max-width: 650px) {
  .section__padding {
    padding: 4rem 2rem;
  }
  
  .p__cormorant {
    font-size: 21px;
  }

  .p__opensans {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .p__opensans {
    font-size: 12px;
  }

  .p__cormorant {
    font-size: 19px;
  }

  .headtext__cormorant {
    font-size: 45px;
    line-height: 70px;
  }
}

/*----------------------------------------------------------------------------------*/

/* Nav Bar */

.app__navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  z-index: 5;
  overflow: hidden;
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app__navbar-logo img {
  width: 100px;
  margin-left: 5rem;
  cursor: pointer;
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
}

.app__navbar-links li {
  margin: 0 1rem;
  cursor: pointer;
  font-family: var(--font-base);
  color: var(--color-golden);
  font-size: 36px;
  margin: 0 2rem;
}

.app__navbar-links li:hover {
  color: var(--color-grey);
}

@media screen and (max-width: 1150px) {
  .app__navbar-links {
      display: none;
  }
}

@media screen and (max-width: 650px) {
  .app__navbar-logo img {
      width: 80px;
      margin-left: 3rem;
  }
}

@media screen and (max-width: 350px) {
  .app__navbar-logo img {
    width: 50px;
    margin-left: 2rem;
  }
}

/* PreLoader */

.pre-loader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 9999;
}

.pre-loader-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-base);
}

.pre-loader-content span {
  font-family: var(--font-base);
  font-style: italic;
}

.pre-loader-text {
  margin-bottom: 0.5em;
  font-size: 100px;
  color: #C9B8A5;
}

.loader {
  width: 500px;
  height: 2px;
  background: #C9B8A5;
}

@media screen and (max-width: 2000px) {
  .loader {
    width: 600px;
  }
} 

@media screen and (max-width: 1500px) {
  .pre-loader-text {
    font-size: 80px;
  }

  .loader {
    width: 450px;
  }
} 

@media screen and (max-width: 1050px) {
  .pre-loader-text {
    font-size: 60px;
  }

  .loader {
    width: 360px;
  }
} 

@media screen and (max-width: 850px) {
  .pre-loader-text {
    font-size: 45px;
  }

  .loader {
    width: 280px;
  }
} 

@media screen and (max-width: 650px) {
  .pre-loader-text {
    font-size: 40px;
  }

  .loader {
    width: 200px;
  }
} 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: var(--font-base);
}

a,
p {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-golden);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  width: 100%;
  padding: 2em;
}

.row {
  width: 100%;
  display: flex;
  gap: 2em;
}

.col {
  flex: 1;
  display: flex;
  gap: 1em;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 4/5;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(13, 13, 13, 0) 40%, rgba(13, 13, 13, 1) 100%), 
                    url('../../assets/img/projects/20.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: var(--font-base);
  color: var(--color-golden);
}

.hero-content h1 {
  font-size: 100px;
  font-weight: 500;
  letter-spacing: -0.02vw;
  padding-bottom: 1rem;
}

.hero-content p {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -0.02vw;
  padding-bottom: 6rem;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.info-p {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
}

.info-p p {
  flex: 1;
  margin: 0;
  padding: 0 1rem;
  box-sizing: border-box;
}

.info-container h1 { 
  font-size: 80px;
  margin-top: 6rem;
  color: var(--color-golden);
}

.info-container p { 
  font-size: 30px;
  margin-top: 4rem;
  color: var(--color-gray);
}

.img-1 .mask,
.img-6 .mask {
  background: url(../../assets/img/projects/15.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.img-2 .mask,
.img-7 .mask {
  background: url(../../assets/img/projects/16.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.img-3 .mask,
.img-15 .mask {
  background: url(../../assets/img/projects/20.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.img-4 .mask,
.img-10 .mask {
  background: url(../../assets/img/projects/18.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.img-5 .mask,
.img-11 .mask {
  background: url(../../assets/img/projects/19.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.img-8 .mask,
.img-17 .mask {
  background: url(../../assets/img/projects/20.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.img-9 .mask,
.img-13 .mask {
  background: url(../../assets/img/projects/17.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.img-12 .mask,
.img-14 .mask,
.img-16 .mask {
  background: url(../../assets/img/projects/16.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.img-1 {
  height: 80vh;
  flex-grow: 1;
}

.img-2 {
  height: 60vh;
  width: 40vw;
  align-self: flex-end;
}

.img-3 {
  width: 80%;
  height: 60vh;
  margin-left: auto;
}

.img-4 {
  width: 100%;
  height: 100vh;
}

.img-5 {
  width: 40%;
  height: 70vh;
  align-self: center;
}

.img-6 {
  width: 50%;
  height: 90vh;
  margin-left: auto;
}

.img-7 {
  width: 100%;
  height: 100vh;
}

.img-8 {
  height: 80vh;
  flex-grow: 1;
}

.img-9 {
  height: 60vh;
  width: 40vw;
  align-self: flex-end;
}

.img-10 {
  width: 75%;
  height: 100vh;
  margin-left: auto;
}

.img-11 {
  width: 100%;
  height: 100vh;
}

.img-12 {
  width: 40%;
  height: 70vh;
  align-self: center;
}

.img-13 {
  width: 50%;
  height: 90vh;
  margin-left: auto;
}

.img-14 {
  width: 100%;
  height: 100vh;
}

.img-15 {
  height: 80vh;
  flex-grow: 1;
}

.img-16 {
  height: 60vh;
  width: 40vw;
  align-self: flex-end;
}

.row-1 {
  display: flex;
  gap: 10rem;
  width: 100%;
  height: 100%;
  margin: 5rem 10rem 8rem 10rem;
}

.row-2 {
  margin: 10rem 8rem;
  width: 100%;
}

.row-3 {
  width: 100%;
  margin: 10rem 10rem;
}

.row-4 {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 10rem 10rem;
}

.next-project {
  margin: 10rem 10rem;
}

.next-project-item {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.next-project-img {
  width: 600px;
  height: auto;
}

.next-project-img img {
  width: 100%;
  height: 100%;
}

.next-project-text {
  display: flex;
  flex-direction: row;
  align-items: last baseline;
  flex-grow: 1;
  justify-content: space-between;
}

.next-project-name p {
  font-size: 60px;
}

.next-project-button p {
  font-size: 40px;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

@media screen and (max-width: 1050px) {
  .outro .row {
    margin-bottom: 8em;
  }

  .img-none {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .hero h1 {
    font-size: 12vw;
    margin-top: 5em;
  }

  .info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .info p {
    width: 80%;
    font-size: 14px;
  }

  .row {
    flex-direction: column;
    gap: 4em;
  }
}

/* Footer */

.footer-container{
  height: 30vh;
	max-width: 60vw;
	margin:auto;
}

.footer-row{
	display: flex;
	flex-wrap: wrap;
  margin-top: 10vh;
}

.footer ul{
	list-style-type: none;
}

.footer{
	background-color: #0D0D0D;
  padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 2  rem;
	color: #C9B8A5;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #E74C3C;
	height: 3px;
	box-sizing: border-box;
	width: 8vw;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 1.5rem;
	text-transform: capitalize;
	color: rgba(216, 210, 182, 0.6);
	text-decoration: none;
	font-weight: 300;
	color: rgba(216, 210, 182, 0.6);
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: hsl(49, 30%, 78%);
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
  }
} 